*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  background-color: #2a173b;
  font-family: "Red Hat Mono", monospace;
  color: #f2f0e5;
}

#root {
  position: absolute;
  left: 0;
  top: 0;
  width: 100vw;
  height: 100vh;
}
