*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  height: -webkit-fill-available;
}

body {
  margin: 0;
  padding: 0;
  background-color: #17152e;
  font-family: "Red Hat Mono", monospace;
  color: #f2f0e5;
  min-height: 100vh;
  /* mobile viewport bug fix */
  min-height: -webkit-fill-available;
  overflow: hidden;
}

#root {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
}

canvas {
  image-rendering: optimizeSpeed;
  image-rendering: -moz-crisp-edges;
  image-rendering: -webkit-optimize-contrast;
  image-rendering: optimize-contrast;
  image-rendering: pixelated;
  -ms-interpolation-mode: nearest-neighbor;
}
