@import "./mixins";

.title {
  font-size: 15vmin;
  font-weight: 300;
  text-transform: uppercase;
  margin: 0;
}

.titleColorRed {
  color: #e43254;
}

.titleColorYellow {
  color: #f0c808;
}

.titleColorWhite {
  color: #d4e2cc;
}
