@import "./mixins";

.button {
  padding: 8px;
  width: 100%;
  max-width: 250px;
  user-select: none;
  text-align: center;
  border: 2px solid #f2f0e5;
  color: #f2f0e5;

  &:hover {
    background-color: #45444f;
  }
}
