@import "./mixins";

.wrapper {
  display: flex;
  position: absolute;
  pointer-events: none;
  bottom: 0;
  left: 0;
  width: 100%;
  z-index: 1;
}

.content {
  display: flex;
  justify-content: space-around;
  align-items: center;
  color: #496880;
  margin: 16px auto auto;
  padding: 0 8px;
  width: 100%;
  gap: 8px;

  @media (min-width: 800px) {
    width: 60%;
    max-width: 500px;
  }
}
