@import "./mixins";

.wrapper {
  text-align: center;
  white-space: nowrap;
}

.wrapperDesktopOnly {
  display: none;

  @include desktop() {
    display: block;
  }
}

.label {
  margin-right: 8px;
}
