$lightColor: #646365;

.left,
.right {
  position: absolute;
  top: 0;
  bottom: 0;
  width: 25%;
  transition-property: opacity;
  transition-duration: 600ms;
  transition-timing-function: cubic-bezier(0.35, 0, 0.1, 1);
  pointer-events: none;
  opacity: 0;
}

.left {
  left: 0;
  background: linear-gradient(
    to right,
    $lightColor,
    steps(8, skip-end),
    transparent
  );
}

.right {
  right: 0;
  background: linear-gradient(
    to left,
    $lightColor,
    steps(8, skip-end),
    transparent
  );
}
