.container {
  display: flex;
  position: relative;
  height: 100%;
  z-index: -1;
}

.line {
  height: 100%;
  flex-basis: 100%;
  background-color: #443f7b;
  transition: opacity 320ms linear;
  opacity: 0;
}
